@import '~office-ui-fabric-react/dist/sass/References.scss';

.goal {
  .container {
    //max-width: 700px;
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    margin: 0 -8px;
    box-sizing: border-box;
    zoom: 1;
    color: rgb(239, 135, 0);    
    padding: 11px 12px;
    font-size: 12px;
    margin: 0!important;
    border-bottom: 1px solid #cacaca;
    word-wrap: break-word;
  } 

  .teamsSettings {
    font-size: 20px;
    //font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top:11px;
  }
  
  .teamsSettings i{
    font-weight: bold;
  }

  .objectivesGoalsIcon{
    padding-right: 7px;
    font-size: xx-large;
  }

  .myTable {
    //border: 2px outset black;
    height: 180px;
    width: 100%;
    //background-color: white;    
    text-align: left;
    font-size: 20px;
   //padding-right: 15px;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 120px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.TabHeaderSetDisplay{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-top:0px;
  flex-wrap: wrap;
  padding-left: 32.5%;
  //padding-right: 17%;
  padding-bottom: 10px;
  width:65%;
  //width:68%;
  //float:right;
}

.TabHeaderSetDisplayTeamsApp{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-top:0px;
  flex-wrap: wrap;
  padding-left: 31.5%;
  //padding-right: 17%;
  padding-bottom: 10px;
  width:63.5%;
  //width:68%;
  //float:right;
}

.TabHeaderGoalsTabBtn
{ border: 1px solid black;
  //border: 1px solid rgb(239, 135, 0);
  //padding: 18px 40px;
  padding: 23px 39px;
  outline: none;
  width:110%;
}

.TabHeaderGoalsTabBtnTeamsApp
{ border: 1px solid black;
  //border: 1px solid rgb(239, 135, 0);
  padding: 23px 39px;
  //padding: 20px;
  outline: none;
  width:110%;
}

.TabHeaderGoalsTabs
{
  width:33.33%;
}

@media screen and (max-width : 768px){
  .TabHeaderSetDisplay{
    display: block;
    padding-left:15%;
  }
  .TabHeaderGoalsTabs {
    width:100%;
  }
}

.IntervalSetDisplay{
  display: flex;
  margin-bottom: 1px;
  margin-top:0px;
  flex-wrap: wrap;
  width:100%
}

.GoalsTabBtn
{
  border: 1px solid rgb(239, 135, 0);
  padding: 18px 40px;
  outline: none;
}

.IntervalButtonDiv{
  width: 30%;
  /* border: 1px solid #ddd; */
  padding: 0;
  /* background: #8eade6; */
  padding-left: 10px;
  padding-right: 10px;
}

.IntervalButtons
{ 
  border: 1px solid black;
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  padding: 10px;
  background: #8eade6;  
  //height: 100px;
  height: 119px;
}

.IntervalButtons:hover{
  background: #8eade6;
}

.AddGoalButton
{ 
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.EditButton
{
  margin-left:20px;
}

.DataDisplay
{ 
  border: 1px solid black;
  //border: 1px solid rgb(239, 135, 0);
  padding: 10px 10px;
  outline: none;
  width:64%;
  overflow-y: scroll;
  //height: 80px;
  height: 100px;
}

@media screen and (max-width : 768px){
  .IntervalButtonDiv{
    width: 100%;
  }  
  .DataDisplay{ 
    width:100%; 
   }
}


